
.fifth-page .black-text3{
    display: flex;
    gap: 20px;
    flex-direction: column;


}


.fifth-page .black-text{
    font-size: 30px;
    line-height: 40px;
    text-align: start;
}
.fifth-page .orange-char{
    font-size: 30px;
    line-height: 40px;
    text-align: start;
}
